# CNN-based Fashion Image Classification

## Overview

This project focuses on building a Convolutional Neural Network (CNN) to classify grayscale images of fashion items into 10 distinct categories. The dataset consists of images represented as pixel vectors, and the goal is to train a CNN model to recognize and categorize these images accurately. 

The data used in this project is derived from a fashion image dataset, where each image is 28x28 pixels in size and belongs to one of 10 fashion categories such as T-shirt, Trouser, Pullover, etc.

## Dataset Description

The dataset consists of flattened grayscale images and their corresponding labels. Each image is of size 28x28, and the pixel values range from 0 to 255. The labels are integers mapped to the following classes:

- **0**: T-shirt/top
- **1**: Trouser
- **2**: Pullover
- **3**: Dress
- **4**: Coat
- **5**: Sandal
- **6**: Shirt
- **7**: Sneaker
- **8**: Bag
- **9**: Ankle Boot

## Project Summary

The project involves the following steps:

1. **Data Preprocessing**:
    - The raw pixel data from the CSV file was reshaped into 28x28 pixel images.
    - The pixel values were normalized by dividing by 255 to improve the performance and convergence of the model.
    - The labels were one-hot encoded for the multi-class classification task.

2. **CNN Model Architecture**:
    - The CNN model was built using TensorFlow and Keras. It consists of several `Conv2D` layers with `ReLU` activations and `MaxPooling2D` layers for feature extraction, followed by fully connected `Dense` layers for classification.
    - A `Dropout` layer was used to prevent overfitting, and the final layer uses `softmax` activation to output probabilities for each class.

3. **Model Training**:
    - The model was trained for 10 epochs using the Adam optimizer with a categorical cross-entropy loss function.
    - A split of 80% training and 20% validation data was used to evaluate the model’s performance during training.

4. **Results**:
    - The trained CNN achieved **91% accuracy** on the test dataset, demonstrating its ability to classify fashion images into the correct categories with a high degree of accuracy.

## Future Improvements
Although the model achieved good results, several improvements can be made, including:
- Data augmentation to increase model generalization.
- Hyperparameter tuning for better performance.
- Adding more layers or adjusting layer sizes for model optimization.
- Utilizing transfer learning or advanced architectures for further improvements.

## Conclusion

This project demonstrates the successful application of Convolutional Neural Networks to the problem of fashion image classification. With minimal tuning, the model achieved a solid accuracy of 91%. It showcases how CNNs can effectively capture the visual features needed to classify fashion items, even with relatively small grayscale images.

---

## Model Performance

- **Training Accuracy**: 91%
- **Test Accuracy**: 91%
- **Loss Function**: Categorical Cross-Entropy
- **Optimizer**: Adam

---

## How to Use This Notebook

To use this notebook:
1. Ensure you have the necessary libraries installed: `TensorFlow`, `Keras`, `pandas`, and `scikit-learn`.
2. Run the cells step-by-step to preprocess the data, build the model, and train it.
3. You can modify the model architecture or experiment with different hyperparameters to further improve performance.

## Acknowledgments

This project uses data that resembles the Fashion-MNIST dataset. The architecture is inspired by classical CNN designs that are widely used for image classification tasks.

### Data Import

In [1]:
import pandas as pd

train_df = pd.read_csv(r'./res/fashion-mnist_train.csv')
test_df = pd.read_csv(r'./res/fashion-mnist_test.csv')

In [6]:
train_df.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
test_df.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,9,8,...,103,87,56,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,14,53,99,...,0,0,0,0,63,53,31,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,137,126,140,0,133,224,222,56,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
print(train_df.shape, test_df.shape)

(60000, 785) (10000, 785)

### Label Mapping

In [9]:
label_mapped = {0: 'T-shirt/top',
                1: 'Trouser',
                2:'Pullover',
                3: 'Dress',
                4: 'Coat',
                5: 'Sandal',
                6: 'Shirt',
                7: 'Sneaker',
                8: 'Bag',
                9: 'Ankle Boot'}

### Separating the Labels and Pixel Data

In [10]:
# Separate the labels and pixel data
X = train_df.drop('label', axis=1).values  # pixel values
y = train_df['label'].values  # labels

### Data Reshaping and Normalization

In [11]:
# Reshape the data to 28x28 images (assuming images are 28x28 pixels)
X = X.reshape(-1, 28, 28, 1)

In [15]:
# Normalize the pixel values (0-255 -> 0-1)
X = X / 255.0

### One-Hot Encoding

In [16]:
from tensorflow.keras.utils import to_categorical

# One-hot encode the labels
y = to_categorical(y, num_classes=10)

### Data Splitting

In [19]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Sequential Model

In [23]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input,Conv2D, MaxPooling2D, Flatten, Dense, Dropout

# Define the CNN model
model = Sequential([
    Input(shape=(28, 28, 1)),
    Conv2D(32, (3, 3), activation='relu'),
    MaxPooling2D(pool_size=(2, 2)),
    Conv2D(64, (3, 3), activation='relu'),
    MaxPooling2D(pool_size=(2, 2)),
    Flatten(),
    Dense(128, activation='relu'),
    Dropout(0.5),
    Dense(10, activation='softmax')  # 10 output classes
])

### Compiling and Train the Model

In [24]:
# Compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [25]:
# Train the model
history = model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/10
1500/1500 ━━━━━━━━━━━━━━━━━━━━ 25s 15ms/step - accuracy: 0.6964 - loss: 0.8418 - val_accuracy: 0.8544 - val_loss: 0.3900
Epoch 2/10
1500/1500 ━━━━━━━━━━━━━━━━━━━━ 22s 15ms/step - accuracy: 0.8414 - loss: 0.4412 - val_accuracy: 0.8669 - val_loss: 0.3609
Epoch 3/10
1500/1500 ━━━━━━━━━━━━━━━━━━━━ 22s 15ms/step - accuracy: 0.8696 - loss: 0.3665 - val_accuracy: 0.8920 - val_loss: 0.2898
Epoch 4/10
1500/1500 ━━━━━━━━━━━━━━━━━━━━ 22s 15ms/step - accuracy: 0.8849 - loss: 0.3206 - val_accuracy: 0.8976 - val_loss: 0.2783
Epoch 5/10
1500/1500 ━━━━━━━━━━━━━━━━━━━━ 42s 15ms/step - accuracy: 0.8940 - loss: 0.2971 - val_accuracy: 0.8966 - val_loss: 0.2765
Epoch 6/10
1500/1500 ━━━━━━━━━━━━━━━━━━━━ 22s 15ms/step - accuracy: 0.9011 - loss: 0.2771 - val_accuracy: 0.9083 - val_loss: 0.2551
Epoch 7/10
1500/1500 ━━━━━━━━━━━━━━━━━━━━ 22s 15ms/step - accuracy: 0.9026 - loss: 0.2646 - val_accuracy: 0.9047 - val_loss: 0.2570
Epoch 8/10
1500/1500 ━━━━━━━━━━━━━━━━━━━━ 41s 15ms/step - accuracy: 0.9125 - loss: 0.2408 - val_accuracy: 0.9118 - val_loss: 0.2428
Epoch 9/10
1500/1500 ━━━━━━━━━━━━━━━━━━━━ 41s 15ms/step - accuracy: 0.9143 - loss: 0.2320 - val_accuracy: 0.9088 - val_loss: 0.2608
Epoch 10/10
1500/1500 ━━━━━━━━━━━━━━━━━━━━ 24s 16ms/step - accuracy: 0.9191 - loss: 0.2209 - val_accuracy: 0.9094 - val_loss: 0.2485

### Evaluating Model

In [26]:
# Evaluate the model on the test set
test_loss, test_acc = model.evaluate(X_test, y_test)
print(f'Test accuracy: {test_acc}')

375/375 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.9116 - loss: 0.2418
Test accuracy: 0.909416675567627

In [34]:
print(X_test.shape, y_test.shape)

(12000, 28, 28, 1) (12000, 10)

### Evaluating Model with External Testing Data

In [31]:
external_test_data = test_df
external_test_data.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,9,8,...,103,87,56,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,14,53,99,...,0,0,0,0,63,53,31,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,137,126,140,0,133,224,222,56,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
test_features = external_test_data.drop(columns=['label'], axis=1).values
test_class = external_test_data.label.values

In [48]:
# Reshape the data to 28x28 images (assuming images are 28x28 pixels)
test_features = test_features.reshape(-1, 28, 28, 1)

In [49]:
# Normalize the pixel values (0-255 -> 0-1)
test_features = test_features / 255.0

In [50]:
# One-hot encode the labels
test_class = to_categorical(test_class, num_classes=10)

In [51]:
print(test_features.shape, test_class.shape)

(10000, 28, 28, 1) (10000, 10)

In [52]:
# Evaluate the model on the test set
test_loss, test_acc = model.evaluate(test_features, test_class)
print(f'Test accuracy: {test_acc}')

313/313 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.9150 - loss: 0.2405
Test accuracy: 0.9168999791145325

### Test Single Sample

In [69]:
import numpy as np

# Assuming you have a single sample (28x28 pixel grayscale image as a flattened vector)
# Replace this with the actual pixel values of the sample you want to test
index = 32

single_sample = test_df.drop('label', axis=1).iloc[index].values  # Taking index row as an example

In [70]:
test_df.label.iloc[index]

7

In [71]:
# Preprocess the single sample: reshape and normalize
single_sample = single_sample.reshape(1, 28, 28, 1)  # Reshape to (1, 28, 28, 1) since the model expects 4D input
single_sample = single_sample / 255.0  # Normalize the pixel values

# Predict the class probabilities using the model
predictions = model.predict(single_sample)

# Get the predicted class (with the highest probability)
predicted_class = np.argmax(predictions)

# Map the predicted class to the corresponding label using the label_mapped dictionary
label_mapped = {0: 'T-shirt/top', 1: 'Trouser', 2: 'Pullover', 3: 'Dress', 4: 'Coat',
                5: 'Sandal', 6: 'Shirt', 7: 'Sneaker', 8: 'Bag', 9: 'Ankle Boot'}

predicted_label = label_mapped[predicted_class]

# Print the result
print(f"Predicted class: {predicted_class}")
print(f"Predicted label: {predicted_label}")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 38ms/step
Predicted class: 7
Predicted label: Sneaker